<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
</head>
<body>
    <h1 th:text="${title}"></h1>
    <p th:text="${description}"></p>

    <ul>
        <li th:text="'Name: ' + ${user.name}"></li>
        <li th:text="'Lastname: ' + ${user.lastName}"></li>
        <li th:if="${user.email}" th:text="'Email: ' + ${user.email}"></li>
        <li th:if="${user.email == null}" th:text="'No tiene Email'"></li>
    </ul>

    <ul>
        <li>
            <a href="/list">Volver a la lista</a>
        </li>
        <li>
            <a th:href="@{/list}">Volver a la lista</a>
        </li>

        <li><a th:href="@{'/api/params/foo?message=' + ${title}}">Ver mensaje</a></li>
        <li><a th:href="@{/api/params/foo(message=${title})}">Ver mensaje 2</a></li>
        <li><a th:href="@{/api/params/bar(text=${title}, code=123)}">Ver params 2</a></li>
        <li><a th:href="@{'/api/var/baz/' + ${title}}">Ver var path variable</a></li>
    </ul>
</body>
</html>